.tit-texto
{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
position: relative;}
.imagen
{
  width: 75%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
