li.header__button {
  background-color: white;
  border: 0px;
  padding: 0px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
}
li.header__button--link:hover:before { /* hover:before es para darle linea inferior como sombra al boton al posicionarse*/
  content: "";
  width: 100%;
  bottom: -20px;
  background: #00754a;
  height: 5px;
  position: absolute; /*debe ser absoluto y relativo al padre header_button*/
}
li.header__button--right {
  margin-left: auto;
}
li.header__button img {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
}
.header__button--admin{
  background-color: aqua;
}